#side-navbar {
  background-color: #C41E3A;
  height: 100vh;
  width: 17rem;
  left: 0px;
}

#profile-image-banner {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid #ff2a4e31;
  margin-bottom: 20px;
}

#content {
  width: 100%;
}
.text-red {
  color: #C41E3A;
}

.text-red:hover {
  color: #c41e3a8f;
}

.logos-container {
  font-size: 350%;
  color: rgb(0, 0, 0);
}

.logos-container:hover {
  color: #C41E3A;
}

.logos-container-red {
   font-size: 350%;
   color: #C41E3A;
}

.overflow-auto {
  overflow: auto;
  height: 100vh;
}

.box {
  height: 100vh;
}

.logo {
  height: 50px;
  width: 50px;
  color: black;
  margin-bottom: 15px;
} 

.transition {
  scroll-behavior: smooth;
}