@media(min-width:1080px) {
  #desplegable {
    display: none;
  }

  body {
    display: flex;
  }

  #side-navbar {
    background-color: #C41E3A;
    height: 100vh;
    width: 22rem;
    left: 0px;
  }
  
  #profile-image-banner {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #ff2a4e31;
    margin-bottom: 20px;
  }
  
  #content {
    width: 100%;
  }
  .text-red {
    color: #C41E3A;
  }
  
  .text-red:hover {
    color: #c41e3a8f;
  }

  .texts {
    color: white;
  }

  .texts:hover {
    color: rgb(201, 201, 201);
  }
  
  .logos-container {
    font-size: 350%;
    color: rgb(0, 0, 0);
  }
  
  .logos-container:hover {
    color: #C41E3A;
  }
  
  .logos-container-red {
     font-size: 350%;
     color: #C41E3A;
  }
  
  .overflow-auto {
    overflow: auto;
    height: 100vh;
  }
  
  .box {
    height: 100vh;
  }
  
  .logo {
    height: 50px;
    width: 50px;
    color: black;
    margin-bottom: 15px;
  } 
  
  .transition {
    scroll-behavior: smooth;
  }
}

@media(min-width:768px) and (max-width:1079px) {
  body {
      display: flex;
    }

  #desplegable {
    display: none;
  }

  #side-navbar {
    background-color: #C41E3A;
    height: 100vh;
    width: 17rem;
    left: 0px;
  }
  
  #profile-image-banner {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #ff2a4e31;
    margin-bottom: 20px;
  }
  
  #content {
    width: 100%;
  }

  .texts {
    color: white;
  }

  .texts:hover {
    color: rgb(201, 201, 201);
  }

  .text-red {
    color: #C41E3A;
  }
  
  .text-red:hover {
    color: #c41e3a8f;
  }
  
  .logos-container {
    font-size: 350%;
    color: rgb(0, 0, 0);
  }
  
  .logos-container:hover {
    color: #C41E3A;
  }
  
  .logos-container-red {
     font-size: 350%;
     color: #C41E3A;
  }
  
  .overflow-auto {
    overflow: auto;
    height: 100vh;
  }
  
  .box {
    height: 100vh;
  }
  
  .logo {
    height: 50px;
    width: 50px;
    color: black;
    margin-bottom: 15px;
  } 
  
  .transition {
    scroll-behavior: smooth;
  }
}

@media (min-width:360px) and (max-width:767px) {
   #side-navbar {
    display: none;
    width: 0px;
    height: 0px;
  }
  
  #profile-image-banner {
    display: none;
  }
  
  #content {
    width: 100%;
  }
  .text-red {
    color: #C41E3A;
  }
  
  .text-red:hover {
    color: #c41e3a8f;
  }
  
  .texts {
    color: white;
  }

  .texts:hover {
    color: rgb(201, 201, 201);
  }

  .logos-container {
    font-size: 350%;
    color: rgb(0, 0, 0);
  }
  
  .logos-container:hover {
    color: #C41E3A;
  }
  
  .logos-container-red {
     font-size: 350%;
     color: #C41E3A;
     flex-direction: column;
  }
  
  .overflow-auto {
    overflow: auto;
    height: 100vh;
  }
  
  .box {
    height: 100vh;
  }
  
  .logo {
    height: 50px;
    width: 50px;
    color: black;
    margin-bottom: 15px;
  } 
  
  .transition {
    scroll-behavior: smooth;
  }

  .dis-sm-flex {
    display: flex;
    justify-content: center;
  }

  h3 {
    font-size: 1.25em;
  }

  #desplegable {
    width: 100%;
    height: 10vh;
    background-color: #C41E3A;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
  }
 
  .button {
    max-height: 26px;
    margin-top: 8%;
  }
}